<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/layui/css/layui.css">
    <script type="text/javascript" src="__STATIC__/layui/layui.js"></script>
</head>
<body style="background:#1E9FFF">
    <div style="position: absolute;left:50%;top:50%;width:500px;margin-left:-250px;margin-top:-200px;">
        <div style="background: #ffffff;padding:20px;border-radius:4px;box-shadow:5px 5px 20px #444444">
            <div class="layui-form">
                <div class="layui-form-item" style="color:gray;">
                    <h2>后台管理系统</h2>
                </div>
                <hr>
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-block">
                        <input type="text" id="username" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
                    <div class="layui-input-block">
                        <input type="password" id="password" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" onclick="dologin()">登陆</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    layui.use(['layer'],function(){
        $ = layui.jquery;
        layer = layui.layer;
        //用户名焦点
        $('#username').focus();
        //回车键登陆
        $('input').keydown(function (e) {
            if(e.keyCode == 13){
                dologin();
            }
        })
    });
    //登陆
    function dologin() {
        var username = $.trim($('#username').val());
        var password = $.trim($('#password').val());
        if(username == ''){
            layer.alert('请输入用户名',{icon:2});
            return;
        }
        if(password == ''){
            layer.alert('请输入密码',{icon:2});
            return;
        }
        $.post('/admin.php/admin/Account/dologin',{'username':username,'password':password},function(res){
            if(res.code>0){
                layer.alert(res.msg,{icon:2});
            }else{
                layer.msg(res.msg);
                setTimeout(function(){window.location.href = '/admin.php/admin/Home/index'},1000);
            }
        },'json');

    }
</script>
</body>
</html>