<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加角色</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/layui/css/layui.css">
    <script type="text/javascript" src="__STATIC__/layui/layui.js"></script>
</head>
<body style="padding: 10px;">
    <form class="layui-form">
        <div class="layui-form">
            <label class="layui-form-label">角色名称</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="title">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">权限管理</label>
            {volist name="menus" id="vo"}
            <div class="layui-input-block">
                <input type="checkbox" name="menu[{$vo.mid}]" lay-skin="primary" title="{$vo.title}">
                <hr>
                {volist name="vo.children" id="cvo"}
                <input type="checkbox" name="menu[{$cvo.mid}]" lay-skin="primary" title="{$cvo.title}">
                {/volist}
            </div>
            {/volist}
        </div>
    </form>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" onclick="save()">保存</button>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    layui.use(['layer','form'],function () {
        var form = layui.form;
        layer = layui.layer;
        $ = layui.jquery;
    });
    function save() {
        var title = $.trim($('input[name="title"]').val());
        if(title == ''){
            layer.msg('请填写角色名称',{icon:2});
            return;
        }
        $.post('admin/Roles/add',$('form').serialize(),function (res) {
            if(res.code>0){
                layer.alert(res.msg,{icon:2});
            }else{
                layer.msg(res.msg);
                setTimeout(function(){parent.window.location.reload();},1000);
            }
        },json)
    }
</script>